::-webkit-scrollbar {
  width: 0px;
}

* {
  padding: 0;
  margin: 0;
}

@media (max-width: 600px) {
  .navclass ul {
    /* padding: 0 20px; */
  }
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff;
  color: #3e4356;
  user-select: none;
}

body > section{
  overflow: scroll;
}

.paddclass {
  padding-top: 6vh;
}

.navclass {
  height: auto;
  padding-bottom: 1vh;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ebeffb;
  background: linear-gradient(180deg, #ebeffb 65%, #00000000);
  transition: background-color 0.5s ease;
  z-index: 1000;
}

.navclass ul {
  display: flex;
  padding: 0;
  justify-content: center;
  list-style: none;
}

.navclass a {
  padding: 0 2vw;
  font-size: 0.7em;
  font-size: min(max 1vw, 22px);
  font-weight: 700;
  letter-spacing: 0.8px;
  text-decoration: none;
  color: #989eb3;
}

a:hover {
  cursor: pointer;
  color: #000000;
}

.navclass a.active {
  color: red;
}

/* ///////////////HOME PAGE////////////////////  */

.home {
  background-color: #ebeffb;
  text-align: center;
  height: auto;
  margin-bottom: 50px;
}

.homeText {
  /* background: #0765e0; */
  padding: 10vh 0 10vh 10vw;
  width: 53vw;
  text-align: left;
}

.homeText .hello {
  position: relative;
  padding-left: 55px;
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}

.homeText .hello::before {
  position: absolute;
  top: 10px;
  left: 0;
  width: 35px;
  height: 1px;
  background: #000000;
  content: "";
}

.homeText h1 {
  margin: 0;
  font-size: 2.5em;
  font-weight: bold;
}

.homeText h1 span {
  /* font-size: 1.5em; */
  color: #ff023e;
}

.homeText p {
  font-weight: 400;
}

.home button {
  background-color: #ff023e;
  border: none;
  color: white;
  padding: 10px 15px;
  font-size: 0.8em;
  font-weight: bold;
}

.home button:hover {
  cursor: pointer;
  background-color: #e90e41;
}


.about {
  display: flex;
}

.about img {
  height: 40vh;
  bottom: 0;
}

/* ///////////////////////////RESUME PAGE//////////////////////// */

.resume {
  text-align: center;
  background-color: #f7f9ff;
}

.resume .resume-div {
  display: flex;
  justify-content: space-around;
}

.resume .resume-education img {
  width: 25px;
  vertical-align: middle;
}
.resume .resume-experience img {
  width: 20px;
}
.resume .resume-education div,
.resume .resume-experience div {
  text-align: left;
  font-size: medium;
  padding: 2px 20px;
  margin: 13px;
  background-color: #edf1fd;
  box-shadow: #b6a6a6 2px 2px 5px;
  transition: box-shadow 0.8s ease, transform 0.3s ease-in;
}

.resume .resume-education div:hover,
.resume .resume-experience div:hover {
  box-shadow: #534d4d 2px 2px 5px;
}

.resume .resume-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.resume .resume-skills:last-child {
  padding-bottom: 50px;
}
.resume .resume-skills .progress {
  width: 40%;
  height: 10px;
  margin: 10px;
  background-color: #dbe1f1;
  --progress-color: #222222;
}

/* //////////////////////PORTFOLIO PAGE//////////////////////// */
.portfolio {
  text-align: center;
}

.portfolio > div {
  margin-top: 40px;
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
}

.portfolio .portfolio-item img {
  height: 100px;
}

/* //////////////////////CONTACT PAGE //////////////////// */
.contact-container {
  position: relative;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}

.contact-container .text-div {
  min-height: 20vh;
}

.contact-container .address-div {
  min-height: 20vh;
  background-color: #ebeffb;
}

.contact-container .text-div p {
  margin: 50px;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #6c757d;
  max-width: 50vw;
}

.contact-container .address-div .contactinfo {
  list-style: inside url("/assets/icons/line.svg");
  padding: 0;
  margin: 50px;
}

.contact-container .address-div .contactinfo li,
.contact-container .address-div .social-links li {
  font-size: 1rem;
  color: #6c757d;
  margin-bottom: 10px;
}

.contact-container .social-links {
  list-style: none;
  padding: 0;
  margin: 50px;
  display: flex;
  gap: 10px;
}

.contact-container .social-links li a {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.contact-container .social-links li a img {
  width: 20px;
}

.contact-container .form-div {
  font-size: 0.8em;
  position: absolute;
  right: 8vw;
  width: 25vw;
  height: fit-content;
  max-width: 400px;
  background-color: #f8f9fe;
  padding: 40px 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  top: 0;
}

.contact-container .form-div form {
  display: flex;
  padding: 20px;
  flex-direction: column;
}

.contact-container .form-div input,
.contact-container .form-div textarea,
.contact-container .form-div button {
  align-items: right;
  width: inherit;
  height: inherit;
  padding: 10px;
  color: #000000;
  background: #f8f9fe;
  border: 0;
  border-bottom: 1px solid #b5bebe;
  resize: none;
}

.contact-container .form-div textarea {
  height: 50px;
}

.contact-container .form-div :is(textarea, input):hover:focus,
.contact-container .form-div input:hover::placeholder,
.contact-container .form-div textarea:focus::placeholder {
  outline: none;
  color: #000000;
  border-color: #000000;
}

.contact-container .form-div button {
  background-color: #3e4454;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-container .form-div button:hover {
  background-color: #515a70;
}

/* //////////////////////Pages END//////////////////////// */

footer {
  position: relative;
  text-align: center;
  background-color: #ffffff;
}
.footer p{
  margin-bottom: 20px;
}