/* Base progress bar container */
.progress {
  --progress-percentage: 50%;
  --progress-color: #d64521;
  width: 100%;
  height: 25px; /* Height of the progress bar */
  background-color: #f3f3f3;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
}

/* Pseudo-element for the actual progress */
.progress::before {
  content: '';
  display: block;
  height: 100%;
  background-color: var(--progress-color);
  width: var(--progress-percentage);
  border-radius: 25px;
}
